node_modules
dist
src/generated/prisma

.git
.gitignore
.gitattributes

.env
.env.*
!.env.example

.claude
.vscode
.idea

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

*.md
